name: Deploy to VPS new

on:
  push:
    branches:
      - main   # trigger only when pushing to main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/mock_interviews_ai
            git reset --hard
            git pull origin main
            npm install 
            npm run build
            pm2 restart all || true